/* Timer.css */
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pulse {
    animation: pulse 1s infinite;
  }

  html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    height: 100%;
}

